<h1>Rust Stats</h1>

<div>

  <form class="form" ng-submit="search()">
    <div class="form-group">
    <input type="text" class="form-control" ng-model="searchTerm">
    <input type="submit" class="btn btn-primary">
    </div>
  </form>

  <div class="well">

    <div ng-if="loading">
      <img class="center" src="./img/load.gif">
    </div>

    <ul class="list-group">
      <li class="list-group-item"></li>
      <li ng-repeat="(key, value) in playerStats" class="list-group-item">{{key}} - {{value}}</li>
    </ul>

  </div>

</div>