<h1>PLAYER STATS</h1>

<div class="well">
  <div class="container">
    <div class="row">
      <div class="col-sm-8" ng>   
        {{playerStats.name}} Kills:{{playerStats.kills}}
                             Sleep kills:{{playerStats.sleepKills}}
                             Deaths:{{playerStats.deaths}}
      </div>
      <div class="col-sm-4">
        <form class="form" ng-submit="search()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="searchTerm">
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<h1>TOTAL KILLS</h1>

<div class="well">
  <nvd3 options='options' data='data'></nvd3>
</div>